.footer {
  width: 100%;
  padding: 15px 25px;
  background: linear-gradient(135deg, #e0e7ff, #f0f9ff, #ede9fe);
  color: #111;
  font-size: 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftfoot {
  flex: 1;
  display: flex;
  align-items: center;
}

.centerfoot {
  flex: 1;
  text-align: center;
  font-weight: 500;
}

.rightfoot {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.refers {
  background: #ede9fe;
  font-size: 15px;
  text-decoration: none;
  color: #111;
  padding: 6px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.refers:hover {
  background: #cad8e6;
}

.icon {
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .leftfoot,
  .centerfoot,
  .rightfoot {
    flex: unset;
    justify-content: center;
  }
}